## Lab | Inferential statistics - T-test & P-value

### Instructions

#### We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
#### In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
import pandas as pd
import numpy as np
import math as m
import scipy.stats as stats

In [2]:
# importing the data
data = pd.read_csv("machine.txt", encoding='utf-16', sep='\t')

data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [3]:
# H0: Both machine are performing the same (μ_New_Machine = μ_Old_Machine)

# The control group is the old machine, and the treatment is the new machine

# 95% of confidence level (a = 0.05)

# one sided t-test (p_value/2)

In [7]:
data.columns # so many spaces before 'old machine'

Index(['New machine', '    Old machine'], dtype='object')

In [8]:
control = np.array(data['    Old machine'])
treatment = np.array(data['New machine'])

In [9]:
ttest, p_value = stats.ttest_ind(control, treatment, equal_var=True, alternative="greater")

print("pvalue: ", round(p_value, 5))

print("Since our hypothesis is one sided >> pvalue one sided", p_value/2)
if p_value/2 < 0.05:
    print("Reject H0: the mean production time of the old machine is bigger than the new machine")
else:
    print("No evidence to reject the null hypothesis")

pvalue:  0.00161
Since our hypothesis is one sided >> pvalue one sided 0.0008027856251936289
Reject H0: mean sample of the old machine is larger than the mean sample of the new machine